<app-navbar></app-navbar>
<div class="row g-3 mt-4 m-3">
  <app-scrollspy class="col-md-2"></app-scrollspy>
  <div class="col-md-10" id="divbanner">
    <div class="card" id="card">
      <img src="assets/img/banner.jpg" class="img-fluid" alt="..." id="bannerimage">
      <div id="like-game-itens">
        <div class="card-img-overlay d-flex align-items-center justify-content-center" id="banner">
          <div class="text-center">
            <h1 class="mt-4 text-light" id="banner-title">A NEW WORLD IS BORN</h1>
            <a class="btn btn-light btn-lg mt-3 p-3" id="banner-btn" href="">Meet the comunity</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex" id="buttons">
      <a class="btn btn-light" href="">All Games</a>
      <a class="btn btn-dark" href="">Action</a>
      <a class="btn btn-dark" href="">Sports</a>
      <a class="btn btn-dark" href="">Mistery</a>
      <a class="btn btn-dark" href="">Strategic</a>
      <a class="btn btn-dark" href="">Mission</a>
      <a class="btn btn-dark" href="">Multiplayer</a>
    </div>
    <div class="d-flex justify-content-between mb-4">
      <h3>Game Statistics</h3><a href="#" class="m-1 link">x</a>
    </div>
    <div class="statistics-content">
      <div>
          <div class="d-flex justify-content-between">
            <div class="d-flex" id="buttons">
              <a class="btn btn-light" href="">All Games</a>
              <a class="btn btn-dark" href="">Action</a>
              <a class="btn btn-dark" href="">Sports</a>
            </div>
            <div id="button-dropdown">
              <li class="btn btn-dark dropdown" id="buttons">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </div>
          </div>
      </div>
      <app-statistic-content></app-statistic-content>
    </div>
    <div>
      <app-like-game-content></app-like-game-content>
      
      <app-release-content></app-release-content>
      
      <div class="mt-4 pt-4" id="last-content">

        <h3 class="ms-4 mt-4">Join LIVE adventures and Show off your Player Skills</h3>

        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>