<div id="carouselExampleControls" class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active m-0">
            <div class="card bg-transparent">
                <div class="card text-bg-dark">
                    <img src="assets/img/Last-content/Untitled-3.jpg" class="img-wrapper" id="last-images" alt="...">
                    <div class="card-img-overlay d-flex justify-content-between align-items-start">
                      <a class="btn btn-danger" href="">10.000.863</a>
                      <a class="btn btn-light" href="">Join Me</a>
                    </div>
                </div>
                <div class="card-body ms-0" id="card">
                    <div class="card-body-image-content">
                        <a href="#" class="btn btn-light">Category</a>
                        <img src="assets/img/icons/star.png" alt="">
                    </div>
                    <h5 class="card-title mt-3">Title of Game Auto VII here</h5>
                    <div id="users">
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">Walldejusus</a>
                        </div>
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">+10.000 Players</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-transparent">
                <div class="card text-bg-dark">
                    <img src="assets/img/Last-content/game6.jpg" class="img-wrapper" id="last-images" alt="...">
                    <div class="card-img-overlay d-flex justify-content-between align-items-start">
                      <a class="btn btn-danger" href="">10.000.863</a>
                      <a class="btn btn-light" href="">Join Me</a>
                    </div>
                </div>
                <div class="card-body ms-0" id="card">
                    <div class="card-body-image-content">
                        <a href="#" class="btn btn-light">Category</a>
                        <img src="assets/img/icons/star.png" alt="">
                    </div>
                    <h5 class="card-title mt-3">Title of Game Auto VII here</h5>
                    <div id="users">
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">Walldejusus</a>
                        </div>
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">+10.000 Players</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-transparent">
                <div class="card text-bg-dark">
                    <img src="assets/img/Last-content/Untitled-2.jpg" class="img-wrapper" id="last-images" alt="...">
                    <div class="card-img-overlay d-flex justify-content-between align-items-start">
                      <a class="btn btn-danger" href="">10.000.863</a>
                      <a class="btn btn-light" href="">Join Me</a>
                    </div>
                </div>
                <div class="card-body ms-0" id="card">
                    <div class="card-body-image-content">
                        <a href="#" class="btn btn-light">Category</a>
                        <img src="assets/img/icons/star.png" alt="">
                    </div>
                    <h5 class="card-title mt-3">Title of Game Auto VII here</h5>
                    <div id="users">
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">Walldejusus</a>
                        </div>
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">+10.000 Players</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-transparent">
                <div class="card text-bg-dark">
                    <img src="assets/img/Last-content/Untitled-4.jpg" class="img-wrapper" id="last-images" alt="...">
                    <div class="card-img-overlay d-flex justify-content-between align-items-start">
                      <a class="btn btn-danger" href="">10.000.863</a>
                      <a class="btn btn-light" href="">Join Me</a>
                    </div>
                </div>
                <div class="card-body ms-0" id="card">
                    <div class="card-body-image-content">
                        <a href="#" class="btn btn-light">Category</a>
                        <img src="assets/img/icons/star.png" alt="">
                    </div>
                    <h5 class="card-title mt-3">Title of Game Auto VII here</h5>
                    <div id="users">
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">Walldejusus</a>
                        </div>
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">+10.000 Players</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-transparent">
                <div class="card text-bg-dark">
                    <img src="assets/img/Last-content/Untitled-5.jpg" class="img-wrapper" id="last-images" alt="...">
                    <div class="card-img-overlay d-flex justify-content-between align-items-start">
                      <a class="btn btn-danger" href="">10.000.863</a>
                      <a class="btn btn-light" href="">Join Me</a>
                    </div>
                </div>
                <div class="card-body ms-0" id="card">
                    <div class="card-body-image-content">
                        <a href="#" class="btn btn-light">Category</a>
                        <img src="assets/img/icons/star.png" alt="">
                    </div>
                    <h5 class="card-title mt-3">Title of Game Auto VII here</h5>
                    <div id="users">
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">Walldejusus</a>
                        </div>
                        <div id="Folowing">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger">
                            <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded" href="#simple-list-item-1">+10.000 Players</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>