
<h3 class="mb-4">TOP 3-Statistics of Last 7 dais in this plataform</h3>
<div class="cards">
  <div class="card-img">
    <img src="assets/img/fortnite.jpg" alt="" class="m-0">
    <div class="d-flex">  
      <ul>
      <li>Name: Name of Game</li>
      <li>Creator: waltstudios</li>
      <li>Rekease date of: 20' aug'2022</li>
      <li>Category: Mistery</li>
      <li>Country: Angola</li>
      </ul>
      <ul>
      <li>Rating: 7.6</li>
      <li>Downloads: 10.000.000</li>
      <li>Players: 10.000.000</li>
      <li>10.000.000</li>
      </ul>
    </div>
  </div>
  <div class="card-img  d-flex">
    <img src="assets/img/Game2.jpg" alt="">
    <ul>
      <li>Name: Name of Game</li>
      <li>Creator: waltstudios</li>
      <li>Rekease date of: 20' aug'2022</li>
      <li>Category: Mistery</li>
      <li>Country: Angola</li>
    </ul>
    <ul>
      <li>Rating: 7.6</li>
      <li>Downloads: 10.000.000</li>
      <li>Players: 10.000.000</li>
      <li>10.000.000</li>
    </ul>
  </div>
  <div class="card-img  d-flex">
    <img src="assets/img/Game3.jpg" alt="">
    <ul>
      <li>Name: Name of Game</li>
      <li>Creator: waltstudios</li>
      <li>Rekease date of: 20' aug'2022</li>
      <li>Category: Mistery</li>
      <li>Country: Angola</li>
    </ul>
    <ul>
      <li>Rating: 7.6</li>
      <li>Downloads: 10.000.000</li>
      <li>Players: 10.000.000</li>
      <li>10.000.000</li>
    </ul>
  </div>
</div>