<div class="d-flex justify-content-between mb-4 mt-4">
    <h3>Game Statistics</h3><a href="#" class="m-1 link">See All</a>
  </div>
  <div class="new-release">
    <div class="itens">
      <img src="assets/img/fortnite.jpg" alt="">
      <div class="mt-3">
        <div class="card-body-image-content">
            <a href="#" class="btn btn-light">Category</a>
            <img src="assets/img/icons/star.png" alt="">
        </div>
        <h4 class="mb-2 mt-2">Title of Game Auto VII here</h4>
        <p class="mb-2">US& 100,786</p>
      </div>
    </div>
    <div class="itens">
      <img src="assets/img/transform/Untitled-4.jpg" alt="">
      <div id="last-content-game-itens">
        <div class="mt-3">
          <div class="card-body-image-content">
              <a href="#" class="btn btn-light">Category</a>
              <img src="assets/img/icons/star.png" alt="">
          </div>
          <h4 class="mb-2 mt-2">Title of Game Auto VII here</h4>
          <p class="mb-2">US& 100,786</p>
        </div>
      </div>
    </div>
    <div class="itens">
      <img src="assets/img/transform/Untitled-3.jpg" alt="">
      <div id="last-content-game-itens">
        <div class="mt-3">
          <div class="card-body-image-content">
              <a href="#" class="btn btn-light">Category</a>
              <img src="assets/img/icons/star.png" alt="">
          </div>
          <h4 class="mb-2 mt-2">Title of Game Auto VII here</h4>
          <p class="mb-2">US& 100,786</p>
        </div>
      </div>
    </div>
    <div class="itens">
      <img src="assets/img/transform/Game5.jpg" alt="">
      <div id="last-content-game-itens">
        <div class="mt-3">
          <div class="card-body-image-content">
              <a href="#" class="btn btn-light">Category</a>
              <img src="assets/img/icons/star.png" alt="">
          </div>
          <h4 class="mb-2 mt-2">Title of Game Auto VII here</h4>
          <p class="mb-2">US& 100,786</p>
        </div>
      </div>
    </div>
    <div class="itens">
      <img src="assets/img/transform/Untitled-2.jpg" alt="">
      <div id="last-content-game-itens">
        <div class="mt-3">
          <div class="card-body-image-content">
              <a href="#" class="btn btn-light">Category</a>
              <img src="assets/img/icons/star.png" alt="">
          </div>
          <h4 class="mb-2 mt-2">Title of Game Auto VII here</h4>
          <p class="mb-2">US& 100,786</p>
        </div>
      </div>
    </div>
  </div>