
<div id="divscrollspy">
    <div class="" id="scrollspy">
        <p>Workspace Wait</p>
      <div id="simple-list-example" class="d-flex flex-column simple-list-example-scrollspy">
        <a class="p-1 rounded m-2 p-2 d-flex" id="active" href="#simple-list-item-1"><img src="assets/img/icons/image2.png" alt=""><p>New feed</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-2"><img src="assets/img/icons/image1.png" alt=""><p>Forums</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-3"><img src="assets/img/icons/Component4.png" alt=""><p>Trending</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-4"><img src="assets/img/icons/Component6.png" alt=""><p>Saveds</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-5"><img src="assets/img/icons/Component7.png" alt=""><p>Your Stars</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-5"><img src="assets/img/icons/Component5.png" alt=""><p>Scores</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-5"><img src="assets/img/icons/Component8.png" alt=""><p>Developments</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-5"><img src="assets/img/icons/Component9.png" alt=""><p>Matches</p></a>
        <a class="p-1 rounded m-2 p-2 d-flex" href="#simple-list-item-5"><img src="assets/img/icons/Component10.png" alt=""><p>General Rules</p></a>
      </div>
      <p class="mb-3">Folowing</p>
      <div id="simple-list-example" class="d-flex flex-column simple-list-example-scrollspy">
        <div id="Folowing">
          <img src="assets/img/user.png" alt="" class="bg-primary"><a class="p-1 rounded m-2" href="#simple-list-item-1">Dylan</a>
        </div>
        <div id="Folowing">
          <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded m-2" href="#simple-list-item-1">Dylan</a>
        </div>
        <div id="Folowing">
          <img src="assets/img/user.png" alt="" class="bg-warning"><a class="p-1 rounded m-2" href="#simple-list-item-1">Dylan</a>
        </div>
        <div id="Folowing">
          <img src="assets/img/user.png" alt="" class="bg-danger"><a class="p-1 rounded m-2" href="#simple-list-item-1">Dylan</a>
        </div>
        <a class="rounded mt-3 p-2" id="active2" href="">All Games</a>
      </div>
      <p class="mt-4 mb-2">System</p>
      <div id="simple-list-example" class="d-flex flex-column simple-list-example-scrollspy">
        <a class="rounded m-1 p-2 d-flex" href="#simple-list-item-1"><img src="assets/img/icons/Component11.png" alt=""><p>Conditions</p></a>
        <a class="rounded m-1 p-2 d-flex" href="#simple-list-item-2"><img src="assets/img/icons/Component12.png" alt=""><p>Settings</p></a>
      </div>
    </div>
  </div>