<div id="right-link" class="d-flex justify-content-between mb-4 mt-4">
    <h3>You will like these</h3><a href="#" class="m-1">See All</a>
  </div>
  <div class="like-game-content">
    <div class="like-games card m-1">
      <img src="assets/img/like-game1.png" class="img1" alt="">
      <div id="like-game-itens">
        <div class="card-img-overlay align-items-start justify-content-center flex-column">
          <img src="assets/img/icons/Vector2.png" alt="">
          <div>
            <h4 class="mt-4">Game strong</h4>
            <p class="mt-2">Some additional description for this game</p>
            <a class="btn btn-light mt-3" href="">Play now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="like-games card m-1">
      <img src="assets/img/like-game2.png" class="img2" alt="">
      <div id="like-game-itens">
        <div class="card-img-overlay d-flex align-items-start justify-content-center flex-column">
          <img src="assets/img/icons/Vector2.png" alt="">
          <div>
            <h4 class="mt-4">Game strong</h4>
            <p class="mt-2">Some additional description for this game</p>
            <a class="btn btn-light mt-3" href="">Play now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="like-games card m-1">
      <img src="assets/img/like-game3.png" class="img3" alt="">
      <div id="like-game-itens">
        <div class="card-img-overlay d-flex align-items-start justify-content-center flex-column">
          <img src="assets/img/icons/Vector2.png" alt="">
          <div>
            <h4 class="mt-4">Game strong</h4>
            <p class="mt-2">Some additional description for this game</p>
            <a class="btn btn-light mt-3" href="">Play now</a>
          </div>
        </div>
      </div>
    </div>
  </div>